body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Arial Black', Gadget, sans-serif;
    letter-spacing: 2px;
}

#search-input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #4ca1af;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#search-button {
    padding: 10px 20px;
    background-color: #4ca1af;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#search-button:hover {
    background-color: #5bc0de;
    transform: scale(1.05);
}

#results , #recent-movies {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin: 10px; /* Reduced the margin between cards */
    width: 280px; /* Adjusted width for better spacing */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #2c3e50;
}

.movie-card p {
    margin: 5px 0;
    color: #666;
}

.movie-description {
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 10px;
}

.movie-popularity, .movie-language, .movie-release-date {
    font-size: 0.85em;
    color: #999;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.movie-popularity span, .movie-language span, .movie-release-date span {
    font-weight: bold;
    color: #333;
}
